{% extends "base.html" %}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
    <h1 class="home">Home Page</h1>
    <p>Welcome to my awesome homepage.</p>
    <table>
        <tr>
            <td>
                <p>DNS Name: </p>
            </td>
            <td>
                <input type="text" name="dns_name">
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" onclick="postJson()">Submit</button>
            </td>
        </tr>
    </table>
    <script>
        function postJson() {
            var dns_name = document.querySelector('input[name="dns_name"]').value;
            var data = {
                "dns_name": dns_name
            };
            var headers = {
                "Content-Type": "application/json"
            };
            fetch('/findhost', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(data)
            })
            .then(response => response.text())
            .then(html => {
                // Display the returned HTML
                document.body.innerHTML = html;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}

